.comm { float: left; }
.panel { overflow: hidden; }
.message {
    width: 100%;
    height: 100%;
    background-color: azure;
    padding: 2.5em;
}
.message:hover { background-color: blanchedalmond; }