.command-container, .menu { 
  /* background: linear-gradient(rgb(44,23,102) 80%, rgba(79, 41, 180, 0.8));  */
  height: 100%}
.comm { float: left; }
.panel { overflow: hidden; height: 85%;}
.message {
    width: 100%;
    height: 20%;
    /* background-color: azure; */
    padding: 2.5em;
}
.message:hover { background-color: blanchedalmond; }
.classic {
  font: 1.2em sans-serif;
  color: white;
  text-shadow: -1px 1px 0 black,
                1px 1px 0 black,
                1px -1px 0 black,
                -1px -1px 0 black
    ;
  background: linear-gradient(175deg, blue , darkblue 40% 80%, black 99%);
  border: solid lightgray .25em;
  border-radius: 10px;
}



.menu button {
    width: 10em;
    background: 
      linear-gradient(to left, #216674 ,#4da3aa , #36cbd8 40% 65%, #216674) padding-box,
      linear-gradient(#5b6c6d, azure, #5b6c6d 40%) border-box;
    border-radius: 4em;
    border-style: solid;
    border-color: transparent;
    border-width: 3px 6px;
    text-align: left;
    color: white;
  }
  
  .menu button:hover {
    background: 
      linear-gradient(to left, #216674 , #216674) padding-box,
      linear-gradient(#5b6c6d, azure, #5b6c6d 40%) border-box;
    text-align: center;
  /*   margin-left: 1em; */
  }
  
  .menu div:nth-child(2) { margin-left: 1em;}
  .menu div:nth-child(3) { margin-left: 2em;}

  .move-detail {
      background-color: black;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-columns: 80% 20%;
  }

  .move-name { grid-area: name; }
  .move-cost { grid-area: cost; }
  .move-limit { grid-area: lim; }
  .move-effect { grid-area: eff; }

  .move-detail {
      grid-template-areas: 
      'name name name name'
      'cost lim eff eff';
  }