<h2>Manage Movesets</h2>
<form >
    <label for="character-selection">Select a character</label>
    <select name="character-selection" (change)="updateCharacterId($event)">
        <option *ngFor="let ch of characters" value="{{ ch.characterId }}">{{ ch.name }}</option>
    </select>

    <fieldset>
        <legend>Available Moves</legend>
        <div *ngFor="let move of availableMoves">
            <label for="{{ move.moveId }}">{{ move.moveName }}</label>
            <input type="checkbox" id="{{ move.moveId }}">
        </div>
    </fieldset>

    <fieldset>
        <legend>Current Moves</legend>
        <div *ngFor="let move of currentMoves">
            <label for="{{ move.moveId }}">{{ move.moveName }}</label>
            <input type="checkbox" id="{{ move.moveId }}">
        </div>
    </fieldset>
</form>