<div class="profiles">
    <div class="profile p1">
        <img [src]="profile1" alt="player 1 avatar">
        <div class="stats">
            <div class="character-name">
                <h3>{{ gc1.name }}</h3>
            </div>
            <div class="health">
                <h4>Health: <span id="hp1">{{ gc1.stats['Health'] }}</span></h4>
            </div>
            <div class="hp-bar">
                <div class="hp-outer-bar">
                    <div class="hp-inner-bar" [@hpChange]="{value: stateChange == 'p1-hp', params: {currentHp: hp1Percentage}}"></div>
                </div>
            </div>
            <div class="energy">
                <h4>Energy: <span id="en1">{{ gc1.stats['Energy'] }}</span></h4>
            </div>
            <div class="en-bar">
                <div class="en-outer-bar">
                    <div class="en-inner-bar" [@enChange]="{value: stateChange == 'p1-en', params: {currentEn: en1Percentage}}"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="profile p2">
        <img [src]="profile2" alt="player 2 avatar">
        <div class="stats">
            <div class="character-name">
                <h3>{{ gc2.name }}</h3>
            </div>
            <div class="health">
                <h4>Health: <span id="hp2">{{ gc2.stats['Health'] }}</span></h4>
            </div>
            <div class="hp-bar">
                <div class="hp-outer-bar">
                    <div class="hp-inner-bar" [@hpChange]="{value: stateChange == 'p2-hp', params: {currentHp: hp2Percentage}}"></div>
                </div>
            </div>
            <div class="energy">
                <h4>Energy: <span id="en2">{{ gc2.stats['Energy'] }}</span></h4>
            </div>
            <div class="en-bar">
                <div class="en-outer-bar">
                    <div class="en-inner-bar" [@enChange]="{value: stateChange == 'p2-en', params: {currentEn: en2Percentage}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
